.btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    margin: 10px;
}
.btnPrimary {
    background-color: rgb(80, 164, 248);
    color: white;
}
.btnPrimary:hover > span{
    border-bottom: 2px solid white;
}